body {
    background: rgb(239, 239, 245);
    background-position: center; /* centraliza a imagem de fundo */
    font-family: 'Lora', serif;
    
}

header {
    background-color: red;
    width: 100%; /* ajuste de largura do cabeçalho */
    height: 50px;
    position: fixed;
    top: 0;      
    left: 0; 
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid black;
}


