@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("/public/src/components/navbar/navbar.css");

html,
body {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 108vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #11185e, #254aa3, #023373);
  padding: 20px;
}

.container {
  max-width: 900px;
  width: 100%;
  background: #ffffff;
  padding: 90px;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
  text-align: center;
  min-height: 60vh; /* Mantém responsivo ao reduzir altura */
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #11185e;
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  width: 300px;
  height: 4px;
  background: #254aa3;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

form {
  text-align: left;
}

.input-box {
  margin-bottom: 20px;
}

.input-box span {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #2378b9;
}

textarea {
  height: 120px;
  resize: none;
}

.category {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.category label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
}

.dot {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: background 0.3s ease;
}

input[type="radio"]:checked + .dot {
  background: #11185e;
  border-color: #ffffff;
}

.button input {
  width: 100%;
  padding: 12px;
  background: #022a6a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button input:hover {
  background: #87b7ff;
}

@media (max-width: 768px) {
  .category {
    flex-direction: column;
    align-items: center;
  }
}

/* Para telas menores que 440px, esconder o título */
/*@media (max-width: 440px) {
  .title {
    display: none;
  }
  .title::after {
    display: none;
  }
}*/

@media (max-width: 768px) {
  .category {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 700px) {
  /* Quando a altura da tela for menor */
  .container {
    min-height: 80vh; /* Aumenta a altura mínima */
    padding: 50px;
  }
}

@media (max-height: 500px) {
  /* Para telas extremamente achatadas */
  .container {
    min-height: 90vh;
    padding: 30px;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 15px;
    min-height: 70vh;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 15px;
    min-height: 80vh;
  }
}

@media (max-width: 344px) {
  .container {
    padding: 3px;
    min-height: 100vh;
  }
}

@media (max-width: 414px) {
  html,
  body {
    min-height: 140vh;
  }

  body {
    min-height: 200vh;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    min-height: 150vh;
  }

  body {
    min-height: 180vh;
  }
}

@media (max-width: 1280px) {
  html,
  body {
    min-height: 108vh;
  }

  body {
    min-height: 180vh;
  }
}
