body{
    background-color: #000B31;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a2e89c0;
    color: white;
    border-bottom: 1px solid #e9ecef;
}

.employeer_info{
   background: linear-gradient(to right, #031E57 10%, #0741BD 50%, #031E57 90%); 
   height: 210px;
   margin-top: 25px;

}

.employeer_img{
    width: 30%;
    height: 100%;
    padding-left: 25px;
}

.img_person{
    display: flex;
    align-items: center;
}

.info_person{
    display: flex;
    flex-direction: column;
}

.image_person{
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.data_employeer_org{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 190px;
}

.first_line{
    margin-bottom: 10px;
}

.inp_data_employeer{
    height: 30px;
    width: 190px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
}

.div_btn_save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.btn_save{
    background-color: #184981;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 200px;
}