body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #17335f; 
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
}

.top-border {
    width: 100%;
    background-color: #ADD8E6; 
    color: #17335f;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}


.top-img {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    gap: 200px; 
    max-width: 1200px;
    width: 100%;
    margin-top: 150px; 
}

.option {
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
    display: block;
}

.option-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    border: 3px solid white; 
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option-img:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 40px;
    color: white;
    transition: background-color 0.3s;
    position: absolute;
}

.download-icon {
    bottom: 20px;
    right: 20px;
}

.whatsapp-icon {
    bottom: 20px;
    left: 20px;
}

.icons-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex; 
    gap: 15px; 
}

.icons-top-right .icon {
    font-size: 40px;
    color: rgb(243, 235, 235);
    transition: background-color 0.2s;
    position: relative;     
}

.icons-down {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.icons-down .icon {
    font-size: 40px;
    color: white;
    transition: color 0.3s ease;
}

.door-icon {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.icon:hover {
    color: #254aa3;
    border-radius: 50%;
    padding: 15%px;
}

.icon {
    font-size: 40px;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .option {
        width: 200px;
        height: 200px;
    }
    .top-img {
        width: 150px;
    }
    .icons-top-right {
        right: 10px;
    }
    .icons-down {
        padding: 0 15px;
    }
    .icons-down .icon {
        font-size: 35px;
    }
}