.content_form{
    display: flex;
    justify-content: space-around;
    margin-top: 88px;
}

.cnpj{
    display: flex;
    flex-direction: column;
}

.btn_trash{
    display: none;
}

.btn_hint, .btn_trash{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hint{
    display: none;
    border-radius: 8px;
    border: 1px solid #4A8DB9;
    width: 40%;
    padding: 12px;
}

.div_content_btns{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.save{
    border-radius: 12px;
    background-color: green;
    color: white;
    font-size: 18px;
    height: 30px;
    width: 150px;
}

.cancel{
    border-radius: 12px;
    background-color: rgba(250, 41, 41, 0.952);
    color: white;
    font-size: 18px;
    height: 30px;
    width: 150px;
}