/* styles.css */
body {
    font-family:  Verdana, sans-serif;
    background-color: #17335f; 
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    position: relative;
}

.top-border {
    width: 100%;
    background: linear-gradient(to bottom, #6aa0e1, #6aa0e1); 
    color: #17335f;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px; /* Ajustado para acompanhar o novo height */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Reduzido conforme solicitado */
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}


.back-arrow:hover {
    color: #174175; /* Muda a cor para azul claro */
}



.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}



.top-img {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
}

/* Estilo da Tabela */
.table-container {
    margin-top: 80px;
    background: white;
    padding: 20px 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #17335f;
    width: 50%; /* Aumenta a largura da tabela */
    max-width: 1000px; /* Limita o tamanho máximo */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 3px solid #17335f;
}

th, td {
    padding: 10px 100px;
    text-align: left;
}

th {
    background-color: #ADD8E6;
}

/* Botão de Adicionar */
.add-item {
    font-family: Verdana, sans-serif;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    background-color: #17335f;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.add-item:hover {
    background-color: #12529a;
    transform: scale(1.1); 
}


/* container para adicionar Epi */ 


.form-container {
    margin-top: 30px; /* Distância do topo do formulário */
    display: flex;
    flex-direction: column; /* Para deixar em forma de coluna */
    gap: 20px; 
}


#item-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #17335f;
}

#save-item {
    padding: 10px 20px;
    background-color: #17335f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Transição para o botão salvar*/
#save-item:hover {
    background-color: #12529a;
}
