body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)),
    url('/public/src/assets/imgs/FundoProfile.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.profile-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(22, 55, 165, 0.1);
    text-align: left;
    max-width: 500px;
    width: 100%;
    border: 5px solid rgba(13, 16, 182, 0.3);
    transition: all 0.3s ease;
}

.profile-container.editing {
    max-width: 600px;
}

.profile-img-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #595d64;
    object-fit: cover;
    cursor: pointer;
}

.image-input {
    display: none;
}

.user-info .info-item {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #223d69;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.edit-field {
    display: none;
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn, .save-btn {
    background-color: #6aa0e1;
    color: white;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #4f86c6;
}

.logout-btn {
    background-color: #17335f;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout-btn:hover {
    background-color: #0d2448;
}
