.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2550a7;
    color: white;
    height: 25px;
}

.container{
    display: flex;
}

.btn_back{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.main_content{
    background-color: #000B31;
    width: 100%;
    height: auto;
    overflow-x: scroll;

}

.title{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.course_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0374beda;
    border-radius: 18px;
    width: 220px;
    height: 60px;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
}

.treinaments{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 93vh;
    background: linear-gradient(to bottom, #022A6A 0%, #517FC8 50%, #8EB6F5 100%); 
    direction: rtl;
    text-align: left;
    overflow-y: scroll;
}


/* 47d8e9 */
